.container {
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	z-index: 2;
	padding: 20px;
}
.text-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between !important;
	width: 970px;
	margin: 0 auto;
}
.header-title {
	color: #555555;
	height: 50px;
}
