.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 40px;
	width: 990px;
	margin: 40px auto;
}

.card {
	position: relative;
	min-width: 255px;
	max-width: 255px;
	height: fit-content;
}

.buttons-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	bottom: 0px;
	width: 93%;
}

.book-description {
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
